.sidebar .search {
  margin-top: 0;
}

a.tdb-k:link    { color: silver; }
a.tdb-k:active  { color: lightblue;  }
a.tdb-k:visited { color: silver; }
a.tdb-k:hover   { color: lightblue; text-decoration: underline; }

.tdb-b:hover    { background: #000; color: var(--link-color); }

.tdb-k-h1       { font-size: 24px; }
.tdb-k-h2       { font-size: 19px; }
.tdb-f          { font-size: 18px; }
.tdb-fs         { font-size: 14px; }
.tdb-h          { height: 6px; }

.tdb-b {
    display       : inline-block;
    color         : silver;
    cursor        : pointer;
    vertical-align: middle;
    text-align    : center;
    background    : rgb(35, 35, 35);
    border-radius : 5px;
    padding       : 0px;
    line-height   : 45px;
    height        : 45px;
    width         : 90px;
    transition    : 0.5s;
}

.tdb-b:hover {
    background: #000;
    color     : var(--link-color);
}

.tdb-d {
    position    : fixed;
    z-index     : 10;
    font-size   : var(--base-font-size);
    padding-left: 20px;
    padding-top : 15px;
    border-left : 0.1rem dotted var(--sidebar-border-color);
    top         : 0;
    right       : 0;
    width       : 17%;
    height      : 100%;
    overflow-y  : auto;
}

::-webkit-scrollbar {
    background: transparent;
    width     : 0px;
}

.tdb-c {
    position        : fixed;
    border-radius   : 5px;
    cursor          : pointer;
    background-color: #fff;
    z-index         : 15;
    display         : flex;
    justify-content : center;
    width           : 70px;
    top             : 5px;
    right           : 0px;
}

.tdb-l {
    height          : 1px;
    border          : none;
    background-color: rgba(10, 10, 10);     
}

.tdb-b {
    font-weight: bold; /* Is this used? */
}

.tdb-i { 
    vertical-align: middle;
    padding-right : 8px;
}

.tdb-ico {
    width     : 45px;
    height    : 45px;
    opacity   : .3;
    transition: 0.4s; 
}

.tdb-ico:hover {
    cursor : pointer;
    opacity: 1;
}

.tdb-im {
    display     : block;
    margin-left : auto;
    margin-right: auto;
}