.tdb-cvr-l        
{ 
    font-weight: normal; 
    font-size  : 18px; 
}

.tdb-cvr-l:link { text-decoration: none; }

.tdb-cvr-bg-img 
{
    position           : fixed;
    display            : inline-block;
    background-image   : url("../img/ico/terminusx-color.png");
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : 100%; 
    z-index            : -1; 
    height             : 800px; 
    width              : 800px;
    opacity            : 0.09;
    top                : 0; 
}

.tdb-cvr-img 
{
    position           : relative;
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : 750px;
    width              : 950px;
    opacity            : 0.8;
    transition         : opacity 400ms;
}

.tdb-cvr-img-main 
{
    background-image: url("../img/diagrams/terminusdb-cover-page.png");
    height          : 810px;
}

.tdb-cvr-img-sub 
{
    background-image: url("../img/diagrams/terminusdb-cover-pages.png");
    background-size : 600px;
    height          : 700px;
}

.tdb-cvr-img-venn
{
    background-image: url("../img/diagrams/terminusdb-woql-venn.png");
    background-size : 640px;
    height          : 640px;
}

.tdb-cvr-d
{
    position       : absolute;
    text-align     : right;
    padding-left   : 10px;
    padding-right  : 10px;
    color          : rgb(129, 159, 197);
    opacity        : 0;
    transition     : opacity 400ms;
}

.tdb-cvr-d-opt 
{
    height: 30px;
    width : 190px;   
}

.tdb-cvr-d-opt-2 
{
    height: 90px;
    width : 168px;
}

.tdb-cvr-sub-txt
{
    font-weight: normal;
    font-size  : 18px; 
    color      : rgb(140, 140, 140);
}

:root 
{
    --cover-blockquote-color         : rgb(70, 70, 70);
    --cover-color                    : rgb(255, 255, 255);
    --cover-background-color         : var(--cover-color);
    --cover-max-width                : 1000em;
    --cover-margin                   : 0 auto;
    --cover-text-align               : center;
    --cover-heading-font-size        : var(--font-size-xxl);
    --cover-heading-color            : #080404;
    --cover-heading-font-weight      : normal;
    --cover-background-image         : ;
    --cover-button-primary-border    : var(--cover-button-border);
    --cover-button-primary-background: var(--cover-button-color);
    --cover-button-border            : rgb(79, 83, 93) 2px solid;
    --cover-button-color             : rgb(79, 83, 93);
}